*{
  box-sizing: border-box;
}

body {
  background: #D3C5F0;
  color: white;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

header {
  background: #9370DB;
  margin-top: 0;
  padding-top: 5px;
}

ul {
  padding-left: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1 {
  margin: 0;
  font-size: 3em;
  text-align: center;
}

h2 {
  font-size: 30px;
  margin: 0 auto 10px;
  text-align: center;
  padding-top: 10px;
}

h3 {
  font-weight: normal;
  text-transform: uppercase;
  font-size: 1.1em;
  margin-top: 15px;
}

h4 {
  margin: 0;
}

p {
  margin: 0;
}

.nav {
  text-align: center;
  margin-bottom: 0;
  margin-top: 0;
}

.nav li {
  margin: 20px;
  display: inline-block;
}

.nav li:first-child {
  margin-right: 0;
  padding-right: 20px;
  border-right: 1px solid white;
}

.bell-icon,
.profile-icon {
  width: 50px;
  height: 50px;
}

.profile-icon {
  border-radius: 50%;
}

.profile-name {
  font-size: 2em;
  display: none;
}

nav {
  background-color: #49386D;
}


nav ul {
  text-align: center;
  margin: 0;
}

nav li {
  display: inline-block;
  padding: 2% 5%;
}

nav li img {
  width: 40px;
  height: 40px;
}

.wrapper {
  background: #D3C5F0;
  color: #666666;
  margin: auto;
  margin-left: 10px;
  margin-right: 10px;
}

.dashboard {
  text-align: center;
}

.searchInput input[type="text"] {
  width: 80%;
  height: 35px;
  max-width: 500px;
  margin-bottom: 20px;
}

.alert {
  width: 90%;
  display: inline-block;
  border-radius: 5px;
  padding: 8px;
  color: white;
  background-color: #9370DB;
  margin-bottom: 10px;
  border: 1px solid #49386D;
}

.chart-traffic h3 {
  text-align: center;
}

.chart-settings {
  text-align: center;
  margin-top: 15px;
}

.chart-settings li {
  display: inline-block;
  padding: 0 5px;
  margin: 0 2px;
  font-size: 1.1em;
}

.chart-settings li:last-child {
  margin-right: 15px;
}

.hourlyLineChart,
.dailyLineChart,
.monthlyLineChart {
  display: none;
}

.social-stats li {
  display: flex;
  align-items: center;
  background-color: #E4DCF6;
  border: 1px solid #49386D;
  margin-bottom: 10px;
}

.social-icon {
  padding: 10px;
  margin-left: 15px;
  display: inline-block;
  background-color: #9370DB;
  border-radius: 50%;
  margin-top: 10px;
  margin-bottom: 10px;
}


.social-icon svg {
  width: 30px;
  height: 30px;
  fill: #fff;
}

.social-icon-stats {
  display: inline-block;
  margin-left: 15px;
}

.social-icon-stats h4 {
  font-size: 1.3em;

}

.social-icon-stats span {
  font-size: 1.1em;
}

.new-members-info {
  display: inline-block;
  margin-left: 10px;
}

.recent-activity-info h4 {
  font-size: 14px;
}

.new-members-info p,
.recent-activity-info p {
  font-size: 13px;
  color: slategrey;
}

.new-members li {
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid grey;
}

.recent-activity-info {
  display: inline-block;
  margin-left: 10px;
  color:
}

.recent-activity-info-list li {
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid grey;
}

.recent-activity-info-list li:first-child,
.new-members li:first-child {
    padding-top: 0;
}

.recent-activity-arrow {
  margin-left: auto;
  padding: 10px 15px 10px 5px;
  color: #9370DB;
  font-size: 18px;
  font-weight: bold;
}

.message-user-input input[type="text"] {
  width: 100%;
  margin: auto;
  height: 35px;
}

textarea {
  width: 100%;
  margin: 15px 0;
  height: 120px;
}

button {
  font-size: 18px;
  height: 40px;
  background-color: #9370DB;
  border: 1px solid #49386D;
  color: white;
  width: 100%;
  border-radius: 6px;
}

select {
  width: 100%;
  height: 35px;
  margin-bottom: 20px;
}

.settings button {
  margin-bottom: 10px;
}

.settings button:last-child {
  background-color: grey;
  margin-bottom: 50px;
}

.clearfix::after {
   content: " ";
   display: table;
   clear: both;
}
